.wrapper-main {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;



    width: 100vw;
    height: 100vh;

    /* Test */
    /* my own mild green-colour, like asalad */
    background-color: rgba(225, 242, 176, 0.5);
}

.wrapper-stopwatch {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 80%;
    height: 80%;

    /* Test */
    /* my own mild green-colour, like asalad */
    background-color: rgba(207, 234, 127, 0.7);

}

.scoreboard {
  box-sizing: border-box;

  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;

  padding: 1rem;

  border: 0.2rem solid green;
  border-radius: 0.8rem;
  border-color: rgba(24, 221, 135, 1.0);

  width: 80%;

  /* Test */
  /* my own mild green-colour, like asalad */
  background-color: rgba(227, 157, 199, 1.0);


}

.stopwatch-hours,
.stopwatch-minutes,
.stopwatch-seconds,
.stopwatch-milliseconds,
.stopwatch-delimiter {
  padding-right: 0.5rem;

  color: rgba(10, 185, 10, 1);

  font: 2.5rem/1.5 sans-serif;
  font-weight: bold;
}

.stopwatch-milliseconds {
  color: rgba(0, 102, 255, 1);
  font-weight: normal;
}

.stopwatch-delimiter {
  color:rgba(69, 176, 245, 0.5);

  font-weight: bold;
}

.stopwatch_control-wrapper {
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  padding: 1rem;
  width: 80%;


}

.control {
  margin: 1rem;

  padding: 0.5rem 1rem;

  border: 0.2rem solid green;
  border-radius: 01.4rem;

  font: 2.5rem/1.5 sans-serif;
  font-weight: bold;

  color: rgba(0, 0, 200, 1.0);
}

.control__start {
  background-color: rgba(123, 237, 69, 1.0);
}

.control__pause {
  background-color: rgba(238, 223, 20, 1);
}

.control__continue {
  background-color: rgba(38, 194, 228, 1);
}

.control__clear {
  background-color: rgba(211, 97, 213, 1);
}
